body{
    background-color: cadetblue;
    color: white;
    padding: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.cupcake{
    background-color: rgb(32, 58, 58);
    padding: 15px 20px 20px;
    border-radius: 20px;
}
p{
    margin: 0px;
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
button{
    margin-top: 10px;
}